@import "variables/variables";
@import "typographie";
@import "normalize";
@import "layout";
@import "navigation";
@import "header";
@import "form-elements";
@import "components/components";
@import "images";
@import 'leaflet';

.log{
    width: 100%;
    max-width: 20rem;

}
.image {
    display: block;
    margin: 0 auto;
  }
  .image:focus, .image:hover {
    animation: wobble 1s 1;
  }
  
  @keyframes wobble {
    25% {
      transform: rotate(15deg);
    }
    50% {
      transform: rotate(-30deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  